<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <context:component-scan base-package="com.sky.cbi" />
 
    <!-- All beans will be injected by autowired mechanism
    DAO layer beans
    <bean id="cbiDemoDAO" class="com.sky.cbi.dao.CBIDemoDAO"/>
 
    Service layer beans 
    <bean id="cbiDemoService" class="com.sky.cbi.service.CBIDemoService"/>
    -->
</beans>